<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>questionnaire</title>
        <style>
            /* ボタンのスタイル */
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            form {
                max-width: 600px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            label {
                display: block;
                margin-bottom: 8px;
            }

            .text {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
            }

            input[type="radio"],
            input[type="checkbox"] {
                margin-right: 5px;
            }

            textarea {
                resize: vertical;
            }

            .top-button {
                text-align: center;
            }

            .custom-button {
                background-color: #007bff;
                color: #fff;
                padding: 10px 50px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <form action="/" method="post" onsubmit="return validateForm(this)" enctype="multipart/form-data">
            <label>名前: <input class="text" type="text" name="name" required><span class="error-message"></span></label><br>
            <label>かな: <input class="text" type="text" name="kana" required><span class="error-message"></span></label><br>
            <label>性別: 男<input type="radio" name="gender" value="男"> 女<input type="radio" name="gender" value="女" required><span class="error-message"></span></label><br>
            <label>メール: <input class="text" type="text" name="email" required><span class="error-message"></span></label><br>
            <label>住所: <input class="text" type="text" name="address" required><span class="error-message"></span></label><br>
            <label>電話番号: <input class="text" type="text" name="phone_number" required><span class="error-message"></span></label><br>
            <label> 当サイトを知った内容:</label><br>
            <label><input type="checkbox" name="known_source" value="広告"> 広告</label>
            <label><input type="checkbox" name="known_source" value="サイトを見た"> サイトを見た</label>
            <label><input type="checkbox" name="known_source" value="知人から教えてもらった"> 知人から教えてもらった</label>
            <label><input type="checkbox" name="known_source" value="YouTubeの広告を見た"> YouTubeの広告を見た</label>
            <span class="error-message"></span><br>
            <label>問い合わせ内容:<br><textarea class="text" name="inquiry_text"></textarea><span class="error-message"></span></label><br>
            <p class="top-button"><button class="custom-button" type="submit">送 信</button></p>
        </form>
        <!--<table>
            <thead>
                <tr>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                <% questionnaire.forEach(item=> { %>
                    <tr>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <a class="custom-button" href="/delete/<%= item.name %>">削除</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>-->
    <script>
        // フォーム要素を取得
        const form = document.querySelector('form');

        // 各フィールドの要素を取得
        const nameField=form.querySelector('[name="name" ]');
        const kanaField=form.querySelector('[name="kana" ]');
        const genderField=form.querySelector('[name="gender" ]');
        const emailField=form.querySelector('[name="email" ]');
        const addressField=form.querySelector('[name="address" ]');
        const phoneNumberField=form.querySelector('[name="phone_number" ]');

        // 各フィールドにフォーカスが外れたときにバリデーションを行うリスナーを追加
        nameField.addEventListener('change', validateNameOnChange);
        kanaField.addEventListener('change', validateKanaOnChange);
        emailField.addEventListener('change', validateEmailOnChange);
        addressField.addEventListener('change', validateAddressOnChange);
        phoneNumberField.addEventListener('change', validatePhoneNumberOnChange);

        // 性別フィールドに関しては送信ボタンがクリックされたときにバリデーションを行う
        const submitButton=form.querySelector('[type="submit" ]');
        submitButton.addEventListener('click', validateGenderOnSubmit);

        // 各フィールドのフォーカスが外れたときに呼び出される関数
        function validateNameOnChange() {
        const error=!validateName(nameField.value) ? '名前は漢字、ひらがな、英字のみです' : '' ; displayFieldError(nameField, error);
        } function validateKanaOnChange() {
            const error=!validateKana(kanaField.value) ? 'かなはひらがなのみです' : '' ;
            displayFieldError(kanaField, error);
        } function validateEmailOnChange() {
            const error=!validateEmail(emailField.value) ? '正しいメールアドレス形式で入力してください' : '' ;
            displayFieldError(emailField, error);
        } function validateAddressOnChange() {
            const error=!validateAddress(addressField.value) ? '住所は漢字、ひらがな、数字のみです' : '' ;
            displayFieldError(addressField, error);
        } function validatePhoneNumberOnChange() {
            const error=!validatePhoneNumber(phoneNumberField.value) ? '電話番号はハイフン、半角数字のみです' : '' ;
            displayFieldError(phoneNumberField, error);

        } // 性別フィールドに関しては送信ボタンがクリックされたときに呼び出される関数
        function validateGenderOnSubmit() {
            const error=!genderField.value ? '性別が選択されていません' : '' ;
            displayFieldError(genderField, error);

            // エラーメッセージを表示する関数
        } function displayFieldError(field, error) {
            const errorElement=field.parentElement.querySelector('.error-message');
            if (errorElement) { errorElement.textContent=error; } }

            // 各フィールドのバリデーション関数
        function validateName(value) {
            const nameRegex=/^[ぁ-んァ-ン一-龯a-zA-Z]+$/;
            return nameRegex.test(value);
        } function validateKana(value) {
            const kanaRegex=/^[ぁ-ん]+$/;
            return kanaRegex.test(value);
        } function validateEmail(value) {
            const emailRegex=/^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(value);
        } function validateAddress(value) {
            const addressRegex=/^[ぁ-んァ-ン一-龯0-9]+$/;
            return addressRegex.test(value);
        } function validatePhoneNumber(value) {
            const phoneNumberRegex=/^\d+(-\d+)*$/;
            return phoneNumberRegex.test(value);
        }
        </script>
    </body>
</html>
